<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="<%=pageAdminDes%>">
    <meta name="author" content="Adtima">
    <meta name="keyword" content="zalo, adtima">
    <title><%=adminController%> | <%=pageAdminTitle%></title>
    <!-- Icons-->
    <link href="<%=staticUrl%>/public/coreui/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="<%=staticUrl%>/public/coreui/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="<%=staticUrl%>/public/coreui/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="<%=staticUrl%>/public/coreui/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="<%=staticUrl%>/public/coreui/css/style.css" rel="stylesheet">
    <link href="<%=staticUrl%>/public/coreui/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <%-scriptGlobal%>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="<%=staticUrl%>/public/javascripts/jquery.cookie.js"></script> 
    <script src="<%=staticUrl%>/public/javascripts/common.js"></script>
    <script src="<%=staticUrl%>/public/javascripts/common_admin.js"></script>    
    <script src="<%=staticUrl%>/public/javascripts/validation.js"></script>
    <script src="<%=staticUrl%>/public/javascripts/jquery.twbsPagination.min.js"></script>

    <script src="<%=staticUrl%>/public/cropperjs/cropper.min.js"></script>
    <link href="<%=staticUrl%>/public/cropperjs/cropper.css" rel="stylesheet">


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $(document).ready(function(){
        $('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
      });
    </script>
    <style>
      div.scrolldata {overflow: auto;white-space: nowrap;}       
    </style>
  </head>
  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">   
    <header class="app-header navbar">
      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="<%=baseUrl%>/adminpanel/">
        <%=appName%>
      </a>
      <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <ul class="nav navbar-nav ml-auto">       
        <li class="nav-item">
          <a title="Update or renew your session" class="nav-link" href="<%=baseUrl%>/adminpanel/renew-session"><span class="fa fa-refresh"></span></a>
        </li>
        <li class="nav-item dropdown">    
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <%=user_data.fullname%>
          </a>
          <div class="dropdown-menu dropdown-menu-right">            
            <a class="dropdown-item" href="<%=baseUrl%>/adminpanel/profile/changepassword">
              <i class="fa fa-edit"></i> Change password</a>
            <a class="dropdown-item" href="<%=baseUrl%>/adminpanel/profile/changeavatar">
              <i class="fa fa-edit"></i> Change avatar</a>
            <a class="dropdown-item" href="<%=baseUrl%>/adminpanel/profile/">
              <i class="fa fa-cubes"></i> Profile</a>            
            <a class="dropdown-item" href="<%=baseUrl%>/adminpanel/logout">
              <i class="fa fa-sign-out"></i> Logout</a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
        <!--<span class="navbar-toggler-icon"></span>-->
      </button>
      <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
        <span class="navbar-toggler-icon"></span>
      </button>
    </header>
    <div class="app-body">
      <div class="sidebar">
        <%var is_root = user_data.is_root%>        
        <nav class="sidebar-nav">
          <ul class="nav" id="admin_nav_menu">
            <li class="nav-item">
              <a class="nav-link" href="<%=baseUrl%>/adminpanel/">
                <i class="nav-icon icon-speedometer"></i> Dashboard
                <span class="badge badge-primary">Adtima</span>
              </a>
            </li>
            <%if(is_root == 1){%>
              <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0);">
                  <i class="nav-icon icon-puzzle"></i> System
                </a>
                <ul class="nav-dropdown-items">
                  <li class="nav-item">
                    <a class="nav-link" href="<%=baseUrl%>/adminpanel/manage_module/">
                      Module manage</a>
                  </li>     
                  <li class="nav-item">
                    <a class="nav-link" href="<%=baseUrl%>/adminpanel/manage_admin_log/">
                      Manage log</a>
                  </li>            
                  <li class="nav-item">
                    <a class="nav-link" href="<%=baseUrl%>/adminpanel/manage_config_setting/">
                      Config setting</a>
                  </li>  
                </ul>
              </li>            
              <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0);">
                  <i class="nav-icon icon-puzzle"></i> Backend user
                </a>
                <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="<%=baseUrl%>/adminpanel/manage_user_group/">
                    Group</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="<%=baseUrl%>/adminpanel/manage_role/">
                    Role</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="<%=baseUrl%>/adminpanel/permission_role/manages">
                    Role Permissions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="<%=baseUrl%>/adminpanel/manage_user/">
                    User</a>
                </li>  
                </ul>
              </li>
            <%}%>
            
            <li class="nav-title"><i class="fa fa-map"></i> Ex Modules</li>
          </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
      </div>
      <main class="main">
        <div id="message_box" class="alert" style="font-weight:bold;position:fixed;z-index:9999;width:100%;display:none;">                         
        </div>
        <% if (messages.message_success) { %>
          <script>
              show_message('success', '<%-messages.message_success%>');
          </script>              
        <% } %>
        <% if (messages.message_error) { %>
          <script>
              show_message('error', '<%-messages.message_error%>');
          </script>              
        <% } %>
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%=appName%></li>
          <li class="breadcrumb-item">
            <a href="<%=adminControllerIndex%>"><%=adminController%></a>
          </li>
          <li class="breadcrumb-item active"><%=adminAction%></li>
          <!-- Breadcrumb Menu-->
          <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">   
              <% if(adminController != 'report') {%>           
                <a class="btn" href="<%=baseUrl%>/adminpanel/report/standard/<%=adminController%>">
                  <i class="icon-graph"></i>  Report
                </a>
              <% } %>              
            </div>
          </li>
        </ol>    
        <div class="container-fluid">          
            <!--body-->    
            <%-body -%>
            <!--end body-->
        </div>
      </main>     
    </div>
    <footer class="app-footer">
      <div>
        <a href="https://coreui.io" target="blank">CoreUI</a>
        <span>&copy; 2018 Adtima.</span>
      </div>
      <div class="ml-auto">
        <span>Powered by</span>
        <a href="https://adtima.vn">Adtima</a>
      </div>
    </footer>
    
    <script>
      $(document).ready(function(){
        generate_csrf_token_form('<%= csrftoken %>');
      });
    </script>
    
    <!-- CoreUI and necessary plugins-->    
    <script src="<%=staticUrl%>/public/coreui/vendors/popper.js/js/popper.min.js"></script>
    <script src="<%=staticUrl%>/public/coreui/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="<%=staticUrl%>/public/coreui/vendors/pace-progress/js/pace.min.js"></script>
    <script src="<%=staticUrl%>/public/coreui/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
    <script src="<%=staticUrl%>/public/coreui/vendors/@coreui/coreui/js/coreui.min.js"></script>
    <script>
      $(document).ready(function(){
        $.get(baseUrl + '/adminpanel/base/ex_module_menu', function(data){
          $('#admin_nav_menu').append(data);
        });
      });
    </script>
    <div id="uploadPhotoUsingCropperJSModal" class="modal" role="dialog">
        <div class="modal-dialog" id="modal-cropjs-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="modal-cropjs-content">
                <div class="modal-header">
                    <button type="button" class="" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Upload photo</h5>
                </div>
                <div class="modal-body">
                    <div id="uploadPhotoCropperImg">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnCropImage">Crop</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>   

  </body>
</html>