<% layout('./../../layout/admin') -%>
<form name="form1" action="" method="POST" >
<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          <strong><%=adminController%></strong>
          <small><%=adminAction%></small>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Name</label>
                <input name="name" readOnly class="form-control" id="name" type="text" placeholder="Enter name" value="<%=item.name%>">                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="description">Description</label>
                <input name="description" class="form-control" id="description" type="text" placeholder="Enter description" value="<%=item.description%>">                
              </div>
            </div>
          </div>      
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="backend_menu_weight">Weight</label>
                <input name="backend_menu_weight" class="form-control" id="backend_menu_weight" type="text" placeholder="Enter weight" value="<%=item.backend_menu_weight%>">                
              </div>
            </div>
          </div>         
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Status</label>
                <select class="form-control" id="status" name="status">                    
                    <% for(var i=0; i < status_list.length; i++) { %>
                        <option value="<%=status_list[i].value%>"  
                          <% if(status_list[i].value == item.status) { %> 
                          selected 
                          <% } %> 
                        >
                        <%=status_list[i].name%></option>
                    <% } %>                
                </select>
              </div>
            </div>
          </div>
          <!-- /.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <button class="btn btn-sm btn-primary" type="submit">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                &nbsp;
                <a href="<%=returnUrl%>">Return</a>
              </div>
            </div>
          </div>          
          </div>
          <!-- /.row-->
        </div>
      </div>
    </div>    
  </div>
</form>