<% layout('./../../layout/admin') -%>
<form name="form1" action="" method="POST" >
<div class="row">
<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <strong><%=adminController%></strong>
            <small><%=adminAction%></small>
        </div>
        <div class="card-body">            
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="oldpassword">Old password</label>
                        <input name="oldpassword" class="form-control" id="oldpassword" type="password" placeholder="Enter old password" value="<%=helpers.helper.view_data(appPostParam.oldpassword)%>">                
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="password">New password</label>
                        <input name="password" class="form-control" id="password" type="password" placeholder="Enter password" value="<%=helpers.helper.view_data(appPostParam.password)%>">                
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="repassword">Re-password</label>
                        <input name="repassword" class="form-control" id="repassword" type="password" placeholder="Re-enter password" value="<%=helpers.helper.view_data(appPostParam.repassword)%>">                
                    </div>
                </div>
            </div>            
            <!-- /.row-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <button class="btn btn-sm btn-primary" type="submit">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        </div>
                </div>
            </div>          
        </div>
        <!-- /.row-->
    </div>
    </div>
</div>    
</div>
</form>

<%-scriptjs%>