<% layout('./../../layout/admin') -%>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <strong><%=adminController%>: </strong>
                <small>Your info on dashboard</small>
            </div>
            <div class="card-body">                
                <div class="row" >
                    <div class="col-lg-12">
                        <!--group-->
                        <b>Username :</b>                        
                        <%=info.username%>
                        <!--end group-->    
                    </div>
                </div>
                <div class="row" >
                    <div class="col-lg-12">
                        <!--group-->
                        <b>Email :</b>                        
                        <%=info.email%>
                        <!--end group-->    
                    </div>
                </div>                
                <div class="row" >
                    <div class="col-lg-12">
                        <!--group-->
                        <b>Phone :</b>                        
                        <%=info.phone%>
                        <!--end group-->    
                    </div>
                </div>                
                <div class="row" >
                    <div class="col-lg-12">
                        <!--group-->
                        <b>Fullname :</b>                        
                        <%=info.fullname%>
                        <!--end group-->    
                    </div>
                </div>
                <div class="row" >
                    <div class="col-lg-12">
                        <!--group-->
                        <b>Group :</b>
                        <%for(var k = 0; k < selected_group_list.length;k++){%>
                            <span class="badge badge-danger"><%=selected_group_list[k]['group_name']%></span>
                            &nbsp;
                        <%}%>                        
                        <!--end group-->    
                    </div>
                </div>
            </div>
        </div> 
    </div>   
</div>

