<form id="fw_form_action" action="" method="POST">
    <table class="table table-responsive-sm table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th width="20"><input type="checkbox" id="fw_cb_all"/></th>
                <% if(is_action == 1) {%>
                    <th width="190">Action</th>
                <%}%>                            
                <% for(var i=0; i < out_fields.length; i++) { %>
                    <th><%=out_fields[i]%></th>
                <% } %>                
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i < list.length; i++) { %>            
                <% var _id ='list[' + i + ']._id'%>
                <tr>  
                    <td>
                        <input type="checkbox" name = "fw_cb_items" value="<%=eval(_id)%>"/>
                    </td>
                    <% if(is_action == 1) {%>
                        <td>      
                       
                            <% for(var k=0;k<action_list.length;k++) { %>
                                <% if(action_list[k].type == 'link_button' || action_list[k].type == 'button' ){%>
                                    <% var f = action_list[k].data %>
                                    <% f = f + '(' %>
                                    <% for(var m = 0;m<action_list[k].prop.length;m++) {%>
                                        <% var p_val = 'list[' + i + '].' + action_list[k].prop[m]%>
                                        <%if(m != action_list[k].prop.length - 1) {%>
                                            <% f = f + '"' + eval(p_val) + '"' + ',' %>
                                        <%}else{%>
                                            <% f = f + '"' + eval(p_val) + '"'%>
                                        <%}%>
                                    <%}%>
                                    <% f = f + ');' %>
                                    <a class="badge badge-warning" href = "javascript:void(0);" onclick="<%=f%>" ><span class="icon-note"></span> <%=action_list[k].label%></a>        
                                <%}%>
                                <% if(action_list[k].type == 'link'){%>
                                    <% var f = action_list[k].data %>
                                    <% f = f + '/' %>
                                    <% for(var m = 0;m<action_list[k].prop.length;m++) {%>
                                        <% var p_val = 'list[' + i + '].' + action_list[k].prop[m]%>
                                        <%if(m != action_list[k].prop.length - 1) {%>
                                            <% f = f + '' + eval(p_val) + '' + '/' %>
                                        <%}else{%>
                                            <% f = f + '' + eval(p_val) + ''%>
                                        <%}%>
                                    <%}%>                                    
                                    <a class="badge badge-warning" href = "<%=f%>"><span class="icon-note"></span> <%=action_list[k].label%></a>        
                                <%}%>
                            <% } %>
                            <!--<a class="badge badge-warning" href = "javascript:void(0);" onclick="gotoUrlWithHash('edit/<%=eval(_id)%>');" ><span class="icon-note"></span> Edit</a>
                            &nbsp;
                            <a class="badge badge-warning" href = "javascript:void(0);" onclick="gotoUrlWithHash('detail/<%=eval(_id)%>');"><span class="icon-info"></span> Detail</a>
                            -->
                        
                        </td>
                    <% } %>                                                      
                    <% for(var j=0; j < out_fields.length; j++) { %>
                        <% var field = out_fields[j] %>
                        <% var t ='list[' + i + '].' + out_fields[j] %>                    
                        <td>
                            <% if(field == 'active'){ %>
                                <% if(eval(t) == 0){ %>
                                    <span class="badge badge-danger">False</span>
                                <% } %>
                                <% if(eval(t) == 1){ %>
                                    <span class="badge badge-success">True</span>
                                <% } %>
                            <% } else if(field == 'is_vip_status'){ %>
                                <% if(eval(t) == 0){ %>
                                    <span class="badge badge-danger">False</span>
                                <% } %>
                                <% if(eval(t) == 1){ %>
                                    <span class="badge badge-success">True</span>
                                <% } %>
                            <% } else if(field == 'gender'){ %>
                                <% if(eval(t) == 0){ %>
                                    Khác
                                <% } %>
                                <% if(eval(t) == 1){ %>
                                    Nam
                                <% } %>
                                <% if(eval(t) == 2){ %>
                                    Nữ
                                <% } %>
                            <% } else if(field == 'status'){ %> 
                                <% if(eval(t) == 1) {%>
                                    <span class="badge badge-success">Active</span>
                                <% } %>
                                <% if(eval(t) == 0) {%>
                                    <span class="badge badge-warning">Pending</span>
                                <% }%>
                                <% if(eval(t) == -1) {%>
                                    <span class="badge badge-secondary">Inactive</span>
                                <% }else{ %>
                                    <% if(eval(t) != 0 && eval(t) != 1 && eval(t) != -1) {%>
                                        <%=eval(t)%>
                                    <%}%>
                                <%}%>                                                
                            <% }else{ %>
                                <% if(helpers.helper.is_image(eval(t)) == true) {%>
                                    <% if(helpers.helper.exist_https(eval(t)) == true) {%>
                                        <img src="<%=eval(t)%>" height="100" />
                                    <% } else {%>
                                        <img src="<%=baseUrl%>/medias/photos/<%=eval(t)%>" height="100" />
                                    <% } %>
                                <%}else{%>
                                    <%=eval(t)%>
                                <%}%>
                            <% } %>
                        </td>
                    <% } %>                                    
                </tr>
            <% } %>                
        </tbody>
    </table>
    <input type="hidden" name="_csrf" id="_csrf" value="<%= csrftoken %>">
</form>
<span id="total_page_<%=page%>"><%=total_page%></span>
<span id="total_item_<%=page%>"><%=total_item%></span>