<table class="table table-responsive-sm table-bordered table-striped table-sm">
    <thead>
        <tr>                                               
            <th>&nbsp;</th>
            <% var p = Object.keys(list_permission);%>
            <% for(var i=0; i < p.length; i++) { %>
                <th><%=p[i]%></th>
            <% } %>            
        </tr>
    </thead>
    <tbody>                        
        <% for(var i=0; i < module_list.length; i++) { %>       
            <tr>
                <td><%=module_list[i].name%></td>
                <% for(var j=0; j < p.length; j++) { %>
                    <% var per_key = p[j] %>
                    <td>                                        
                        <% var checkedtext = "" %>
                        <% if(module_list[i][per_key] == true ){ checkedtext = "checked" }%>                                      
                        <% var cb_val = module_list[i].name + '_' + per_key%>
                        <input <%=checkedtext%>  name="<%=cb_val%>" value="<%=list_permission[per_key]%>" id="switch-onColor" type="checkbox" data-on-color="primary" data-off-color="warning" data-on-text="Yes" data-off-text="No">                            </td>
                <% } %>
            </tr>
        <% } %>                            
    </tbody>
</table>