<% layout('./../../layout/admin') -%>
<form name="form1" action="" method="POST" >
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <strong><%=adminController%></strong>
                <small><%=adminAction%></small>
            </div>
            <div class="card-body">            
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Selected group of </label>
                            <label><strong><%=item.username%></strong></label>                        
                        </div>
                    </div>
                </div>            
                        
                <ul class="list-group" id="ul_selected_group">
                                 
                </ul> 
                <input type="hidden" name="input_selected_group" id="input_selected_group" value="" />
                <!-- /.row-->
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button class="btn btn-sm btn-primary" type="submit">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>
                            &nbsp;&nbsp;
                            <a href ="../detail/<%=item._id%>" >
                                Back
                            </a>
                            </div>
                    </div>
                </div>     
            </div>
            <!-- /.row-->
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <strong>Group</strong>
                <small></small>
            </div>
            <div class="card-body">            
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>&nbsp;</label>                                                
                        </div>
                    </div>
                </div>            
                        
                <ul class="list-group" id="ul_group">                                    
                </ul>                
            </div>
            <!-- /.row-->
        </div>
    </div>     
</div>   
</form>

<script>    
    var group_arr = []; 
    var selected_group_arr = [];

    function first_load(){
        try{
            var group = JSON.parse('<%-group_list%>');
            group_arr  = Object.values(group);            
        }
        catch(e){
            console.log(e);
        }

        try{
            var selected_group = JSON.parse('<%-selected_group_list%>');
            selected_group_arr  = Object.values(selected_group);
        }            
        catch(e){
            console.log(e);
        }

        load_item();
    }

    function load_item(){
        group_arr.sort(compare_group);
        selected_group_arr.sort(compare_selected_group);

        try{            
            var group_str = '';
            for(var i = 0;i<group_arr.length;i++){
                let item = '';
                item += '<li class="list-group-item d-flex list-group-item-action justify-content-between align-items-center">';
                item += "<span class='badge badge-primary badge-pill' style='cursor:pointer;' onclick='AddGroup(item_id,item_name);'>Add</span>";
                item += group_arr[i]['name'];
                item += '</li>';
                item = item.replace('item_id', '"' + group_arr[i]['_id'].trim() + '"');
                item = item.replace('item_name', '"' + group_arr[i]['name'].trim() + '"');
                group_str += item;
            }
            $('#ul_group').html(group_str);
        }
        catch(e){
            console.log(e);
        }

        try{            
                var selected_group_str = '';
                for(var i = 0;i<selected_group_arr.length;i++){
                    let item = '';
                    item += '<li class="list-group-item d-flex list-group-item-action justify-content-between align-items-center">';
                    item += selected_group_arr[i]['group_name'];
                    item += "<span class='badge badge-warning badge-pill' style='cursor:pointer;' onclick='RemoveGroup(item_id,item_name);'>Remove</span>";                    
                    item += '</li>';
                    item = item.replace('item_id', '"' + selected_group_arr[i]['id_group'].trim() + '"');
                    item = item.replace('item_name', '"' + selected_group_arr[i]['group_name'].trim() + '"');
                    selected_group_str += item;
                }
                $('#ul_selected_group').html(selected_group_str);
                $('#input_selected_group').val(JSON.stringify(selected_group_arr));
            }
        catch(e){
            console.log(e);
        }
    }

    $(document).ready(function(){
        first_load();
    });
</script>
<script>
    function AddGroup(id, name){
        var item = {id_group : id, group_name : name};
        selected_group_arr.push(item);   

        let obj_index = group_arr.findIndex(o => o._id === id);
        group_arr.splice(obj_index, 1);   

        load_item();
    }

    function RemoveGroup(id, name){
        var item = {_id : id, name : name};
        group_arr.push(item);  
      
        let obj_index = selected_group_arr.findIndex(o => o.id_group === id);
        selected_group_arr.splice(obj_index, 1);      

        load_item();
    }

    function compare_group(a,b) {
        if (a.name < b.name)
            return -1;
        if (a.name > b.name)
            return 1;
        return 0;
    }

    function compare_selected_group(a,b) {
        if (a.group_name < b.group_name)
            return -1;
        if (a.group_name > b.group_name)
            return 1;
        return 0;
    }
</script>