<% layout('./../../layout/admin') -%>
<form name="form1" action="" method="POST" >
<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          <strong><%=adminController%></strong>
          <small><%=adminAction%></small>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                <label for="is_admin">Is Admin</label>
                <select class="form-control" id="is_admin" name="is_admin">
                    <% var keys = Object.keys(is_admin_values) %>                    
                    <% for(var i=0; i < keys.length; i++) { %>
                        <option value="<%=is_admin_values[keys[i]]%>"
                          <% if(is_admin_values[keys[i]] == item.is_admin){ %> 
                          selected 
                          <% } %> 
                        >
                        <%=keys[i]%></option>
                    <% } %>                
                </select>
                </div>
            </div>
        </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Name</label>
                <input name="name" class="form-control" id="name" type="text" placeholder="Enter your name" value="<%=item.name%>">                
              </div>
            </div>
          </div>         
          <!-- /.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <button class="btn btn-sm btn-primary" type="submit">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                &nbsp;
                <a href="<%=returnUrl%>">Return</a>
              </div>
            </div>
          </div>          
          </div>
          <!-- /.row-->
        </div>
      </div>
    </div>    
  </div>
</form>